@model DBModels.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ThemeIntegration.cshtml";
}


            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                        </div>
                        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post, new { @class = "user" }))
                        {
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="userName" name="username" placeholder="Enter Username">
                                @Html.ValidationMessageFor(x => x.username, "", new { @class = "text-danger m-3" })
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" id="Password" name="password" placeholder="Password">
                                @Html.ValidationMessageFor(x => x.password, "", new { @class = "text-danger m-3" })
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" id="ConfPassword" name="confPass" placeholder="Confirm Password">
                                @Html.ValidationMessageFor(x => x.confPass, "", new { @class = "text-danger m-3" })
                            </div><hr />
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">
                                        Remember
                                        Me
                                    </label>
                                </div>
                            </div>
                            <hr />
                            <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                        }
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            @Html.ActionLink("Create an Account!","CreateAccount","Authentication",new { @class="small"})
                        </div>
                    </div>
                </div>
            </div>
        
